In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [8]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

In [17]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [18]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [24]:
set1 = {"abc", 34, True, 40, "male"}

print(set1)

{True, 34, 'abc', 40, 'male'}

In [25]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [1]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'banana', 'cherry', 'apple'}